<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
  </head>

  <body class="min-h-screen w-screen font-sans">
    <p>
      Une erreur est survenue lors de l'envoi de ces cartes cadeaux:
    </p>
    <ul>
      @each(giftCard in giftCards)
        <li>
          Numéro: {{giftCard.formattedGiftCardNumber}}, Détenteur: {{giftCard.ownerEmail}}
        </li>
      @endeach
    </ul>
  </body>

</html>
