<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
  </head>

  <body class="min-h-screen w-screen font-sans">
    <p>
      Bonjour {{user.firstName}}
    </p>
    <p>
    </p>
    <p>
      Bienvenue dans l’aventure Pulsation ! 🎉
    </p>
    <p>
    </p>
    <p>
      Votre compte vient d’être créé, et vous pouvez dès maintenant accéder à notre logiciel dédiée à la gestion des cartes cadeaux.
    </p>
    <p>
    </p>
    <p>
      👉 Pour finaliser votre inscription et définir votre mot de passe, cliquez sur ce lien sécurisé :
    </p>
    <a href="{{ newPasswordLink }}" target="blank">{{ newPasswordLink }}</a>
    <p>
    </p>
    <p>
      ⚠️ Ce lien est valable 24 heures. Passé ce délai, il faudra nous contacter pour en obtenir un nouveau.
    </p>
    <p>
    </p>
    <p>
      Nous vous envoyons également un second e-mail avec plus d’informations sur l’utilisation de la plateforme et son fonctionnement.
    </p>
    <p>
    </p>
    <p>
      Si vous avez des questions, n’hésitez pas à nous écrire à l'adresse support@pulsation.eco .
    </p>
    <p>
    </p>
    <p>
      À très bientôt,
    </p>
    <p>
    </p>
    <p>
      L’équipe Pulsation
    </p>
  </body>

</html>
