<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
  </head>

  <body class="min-h-screen w-screen font-sans">
    <p>
      Bonjour {{user.firstName}},
    </p>
    <p>
      Vous avez demandé à réinitialiser votre mot de passe. Pour définir un nouveau mot de passe, cliquez sur le lien ci-dessous :
    </p>
    <a href="{{ newPasswordLink }}">{{ newPasswordLink }}</a>
    <p>
    </p>
    <p>
      Ce lien est valable pendant 24h. Passé ce délai, vous devrez effectuer une nouvelle demande depuis notre plateforme.
    </p>
    <p>
    </p>
    <p>
      Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet e-mail en toute sécurité. Votre compte restera inchangé.
    </p>
    <p>
    </p>
    <p>
      Pour toute question, n’hésitez pas à nous contacter à l'adresse support@pulsation.eco
    </p>
    <p>
    </p>
    <p>
      Bien à vous,
    </p>
    <p>
      L'équipe Pulsation
    </p>
  </body>

</html>
